@tailwind base;
@tailwind components;
@tailwind utilities;

.room-item {
  padding: 12px 16px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s;
}

.room-item:hover {
  background-color: #374151;
}

.room-item.active {
  background-color: #1e40af;
  color: white;
}

#messages::-webkit-scrollbar {
  width: 6px;
}
#messages::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 20px;
}